$midnight-green: #016170;
$light-midnight-green: #b7d3d7;
$azure-mist: #E8FCFC;
$light-grey: #FAFAFA;
$nigh-rider: #2f2f2f;
$nile-blue: #223C4F;
$categorie-heading: #374151;
$white: #FFFFFF;
$disabled-lable: #c3c2c2;
$success-green: #25AE88;
$light-box-shadow:rgba(149, 157, 165, 0.2) 0px 8px 24px;
$dark-box-shadow:rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;