@import '../../../app/constants/colors.scss';

.product-card {
    width: 12rem;
    height: 18rem;
    border: 1px solid #ececec;
}

.product-list-container {
    scrollbar-width: none;
    overflow-x: hidden;
}

.product-list-grid-container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.product-img-container {
    width: 70%;
}

.product-detail-container {
    width: 55%;
}

.product-image {
    margin: auto;
    height: 70%;
}

.product-preview-container {
    height: 60vh;
}

.left-scroll-indicator-btn {
    box-shadow: $light-box-shadow;
    width: 2.5rem;
    height: 5.5rem;
    border: 1px solid #ececec;
    margin-top: 6rem;
    background-color: $light-grey;
    z-index: 1;
    position: absolute;
    transition: ease-in;
    transition-duration: 100ms;
    display: flex;
    align-items: center;
    justify-content: center;
}


.right-scroll-indicator-btn {
    box-shadow: $light-box-shadow;
    width: 2.5rem;
    height: 5.5rem;
    border: 1px solid #ececec;
    right: 0rem;
    margin-top: 6rem;
    z-index: 1;
    background-color: $light-grey;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}