@import '../../../app/constants/colors.scss';

.product-card {
    width: 16rem;
}

.product-list-container {
    scrollbar-width: none;
    overflow-x: hidden;
}

.product-list-grid-container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.product-img-container {
    width: 70%;
}

.product-detail-container {
    width: 30%;
}

.product-image {
    margin: auto;
    width: 100%;
    height: 70%;
}

.left-scroll-indicator-btn {
    box-shadow: $light-box-shadow;
    width: 4rem;
    height: 4rem;
    border-radius: 30rem;
    border: 1px solid #ececec;
    left: 1.2rem;
    margin-top: 6rem;
    background-color: $light-grey;
    z-index: 1;
    position: absolute;
    transition: ease-in;
    transition-duration: 100ms;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-scroll-indicator-btn:hover {
    width: 4.1rem;
    height: 4.1rem;
}


.right-scroll-indicator-btn {
    box-shadow: $light-box-shadow;
    width: 4rem;
    height: 4rem;
    border-radius: 30rem;
    border: 1px solid #ececec;
    right: 1.2rem;
    margin-top: 6rem;
    z-index: 1;
    background-color: $light-grey;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-scroll-indicator-btn:hover {
    width: 4.1rem;
    height: 4.1rem;
}