@import './app/constants/colors.scss';

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    src: url('./assets/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    src: url('./assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
  }

.product-categorie-heading {
    font-size: 1.3rem;
    color: $categorie-heading;
    font-weight: 600;
    font-family: "Open Sans";
}

.heading-under-line {
    width: 5rem;
    border-top-width: 3px;
    border-top-color: $categorie-heading;
    align-self: center;
    text-align: center;
    margin: auto;
    opacity: 1;
}

.product-list-container {
    display: flex;
    gap: 2rem;
    overflow-x: scroll;
}

.family-open-sans {
    font-family: 'Open Sans';
}

.quantitiy-dropdown {
    border-radius: 0.2rem;
}

.width-80-percent {
    width: 80%;
}

.width-60-percent {
    width: 60%;
}

.width-69-percent {
    width: 69%;
}

.width-30-percent {
    width: 30%;
}

.width-20-percent {
    width: 20%;
}

.width-45-percent {
    width: 45%;
}

.midnight-green-color {
    color: $midnight-green;
}

.bg-midnight-green {
    background-color: $midnight-green;
}

.midnight-border {
    border: 1px solid $midnight-green;
}

.semibold-nunito {
    font-family: "Nunito";
    font-weight: 500;
    font-size: 1.1rem;
}

.nunito-text {
    font-family: "Nunito";
}

.open-sans-text {
    font-family: "Open Sans";
}

.border-width {
    border-width: 1px;
}

.bg-nile-blue {
    background-color: $nile-blue !important;
}